# MacOS stuff
.DS_Store

# Co-product files
*.aux
*.fdb_latexmk
*.fls
*.log
*.bbl
*.bcf
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.pyg
*.out
*.gz
*.xml
minted_package_cache/*

# nvim
*.swp
tags
tags.lock

# Help scripts
data/subject.txt

# drawio
*.bkp

# Contents
*.loe
*.lof
*.lol
*.toc
*.lot

# Product
*.pdf
!/images/.gitkeep
